IDEALLanguage/dtd/ideal/ideal_general.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<!ELEMENT a (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST a
	rel NMTOKENS #IMPLIED
	rev NMTOKENS #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	decorator CDATA #IMPLIED
>
<!ELEMENT meta (#PCDATA)>
<!ATTLIST meta
	property NMTOKEN #REQUIRED
	content CDATA #IMPLIED
	datatype CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT link EMPTY>
<!ATTLIST link
	rel NMTOKENS #IMPLIED
	rev NMTOKENS #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xs:simpleType ((xs:annotation)?, (xs:restriction | xs:list | xs:union))>
<!ATTLIST xs:simpleType
	name NMTOKEN #IMPLIED
	final CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:restriction ((xs:annotation)?, (((xs:all | xs:choice | xs:sequence | xs:group)?) | ((xs:simpleType)?, ((xs:minInclusive | xs:minExclusive) | (xs:maxInclusive | xs:maxExclusive) | xs:totalDigits | xs:fractionDigits | xs:pattern | xs:enumeration | xs:whiteSpace | xs:length | xs:maxLength | xs:minLength)*)), (((xs:attribute | xs:attributeGroup)*, (xs:anyAttribute)?)))>
<!ATTLIST xs:restriction
	base NMTOKEN #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:list ((xs:annotation)?, (xs:simpleType)?)>
<!ATTLIST xs:list
	itemType NMTOKEN #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:union ((xs:annotation)?, (xs:simpleType)*)>
<!ATTLIST xs:union
	id ID #IMPLIED
	memberTypes NMTOKENS #IMPLIED
>
<!ELEMENT xs:maxExclusive (xs:annotation)?>
<!ATTLIST xs:maxExclusive
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:minExclusive (xs:annotation)?>
<!ATTLIST xs:minExclusive
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:maxInclusive (xs:annotation)?>
<!ATTLIST xs:maxInclusive
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:minInclusive (xs:annotation)?>
<!ATTLIST xs:minInclusive
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:totalDigits (xs:annotation)?>
<!ATTLIST xs:totalDigits
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:fractionDigits (xs:annotation)?>
<!ATTLIST xs:fractionDigits
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:length (xs:annotation)?>
<!ATTLIST xs:length
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:minLength (xs:annotation)?>
<!ATTLIST xs:minLength
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:maxLength (xs:annotation)?>
<!ATTLIST xs:maxLength
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:enumeration (xs:annotation)?>
<!ATTLIST xs:enumeration
	value CDATA #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:whiteSpace (xs:annotation)?>
<!ATTLIST xs:whiteSpace
	value CDATA #REQUIRED
	id ID #IMPLIED
	fixed (true | false) #IMPLIED
>
<!ELEMENT xs:pattern (xs:annotation)?>
<!ATTLIST xs:pattern
	value CDATA #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:schema ((xs:include | xs:import | xs:redefine | xs:annotation)*, ((xs:simpleType | xs:complexType | xs:element | xs:attribute | xs:attributeGroup | xs:group | xs:notation), (xs:annotation)*)*)>
<!ATTLIST xs:schema
	targetNamespace CDATA #IMPLIED
	version CDATA #IMPLIED
	xmlns:xs CDATA #FIXED "http://www.w3.org/2001/XMLSchema"
	xmlns CDATA #IMPLIED
	finalDefault CDATA ""
	blockDefault CDATA ""
	id ID #IMPLIED
	elementFormDefault (unqualified | qualified) "unqualified"
	attributeFormDefault (unqualified | qualified) "unqualified"
	xml:lang CDATA #IMPLIED
>
<!ELEMENT xs:complexType ((xs:annotation)?, (xs:simpleContent | xs:complexContent | ((xs:all | xs:choice | xs:sequence | xs:group)?, ((xs:attribute | xs:attributeGroup)*, (xs:anyAttribute)?))))>
<!ATTLIST xs:complexType
	name NMTOKEN #IMPLIED
	id ID #IMPLIED
	abstract (true | false) #IMPLIED
	final CDATA #IMPLIED
	block CDATA #IMPLIED
	mixed (true | false) "false"
>
<!ELEMENT xs:complexContent ((xs:annotation)?, (xs:restriction | xs:extension))>
<!ATTLIST xs:complexContent
	mixed (true | false) #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:simpleContent ((xs:annotation)?, (xs:restriction | xs:extension))>
<!ATTLIST xs:simpleContent
	id ID #IMPLIED
>
<!ELEMENT xs:extension ((xs:annotation)?, (((xs:all | xs:choice | xs:sequence | xs:group)?, ((xs:attribute | xs:attributeGroup)*, (xs:anyAttribute)?))))>
<!ATTLIST xs:extension
	base NMTOKEN #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:element ((xs:annotation)?, (xs:complexType | xs:simpleType)?, (xs:unique | xs:key | xs:keyref)*)>
<!ATTLIST xs:element
	name NMTOKEN #IMPLIED
	id ID #IMPLIED
	ref NMTOKEN #IMPLIED
	type NMTOKEN #IMPLIED
	minOccurs NMTOKEN #IMPLIED
	maxOccurs CDATA #IMPLIED
	nillable (true | false) #IMPLIED
	substitutionGroup NMTOKEN #IMPLIED
	abstract (true | false) #IMPLIED
	final CDATA #IMPLIED
	block CDATA #IMPLIED
	default CDATA #IMPLIED
	fixed CDATA #IMPLIED
	form (unqualified | qualified) #IMPLIED
>
<!ELEMENT xs:group ((xs:annotation)?, (xs:all | xs:choice | xs:sequence)?)>
<!ATTLIST xs:group
	name NMTOKEN #IMPLIED
	ref NMTOKEN #IMPLIED
	minOccurs NMTOKEN #IMPLIED
	maxOccurs CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:all ((xs:annotation)?, (xs:element)*)>
<!ATTLIST xs:all
	minOccurs (1) #IMPLIED
	maxOccurs (1) #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:choice ((xs:annotation)?, (xs:element | xs:group | xs:choice | xs:sequence | xs:any)*)>
<!ATTLIST xs:choice
	minOccurs NMTOKEN #IMPLIED
	maxOccurs CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:sequence ((xs:annotation)?, (xs:element | xs:group | xs:choice | xs:sequence | xs:any)*)>
<!ATTLIST xs:sequence
	minOccurs NMTOKEN #IMPLIED
	maxOccurs CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:any (xs:annotation)?>
<!ATTLIST xs:any
	namespace CDATA "##any"
	processContents (strict | skip | lax) "strict"
	minOccurs NMTOKEN "1"
	maxOccurs CDATA "1"
	id ID #IMPLIED
>
<!ELEMENT xs:anyAttribute (xs:annotation)?>
<!ATTLIST xs:anyAttribute
	namespace CDATA "##any"
	processContents (strict | skip | lax) "strict"
	id ID #IMPLIED
>
<!ELEMENT xs:attribute ((xs:annotation)?, (xs:simpleType)?)>
<!ATTLIST xs:attribute
	name NMTOKEN #IMPLIED
	id ID #IMPLIED
	ref NMTOKEN #IMPLIED
	type NMTOKEN #IMPLIED
	use (required | prohibited | optional) #IMPLIED
	default CDATA #IMPLIED
	fixed CDATA #IMPLIED
	form (unqualified | qualified) #IMPLIED
>
<!ELEMENT xs:attributeGroup ((xs:annotation)?, (xs:attribute | xs:attributeGroup)*, (xs:anyAttribute)?)>
<!ATTLIST xs:attributeGroup
	name NMTOKEN #IMPLIED
	id ID #IMPLIED
	ref NMTOKEN #IMPLIED
>
<!ELEMENT xs:unique ((xs:annotation)?, xs:selector, (xs:field)+)>
<!ATTLIST xs:unique
	name NMTOKEN #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:key ((xs:annotation)?, xs:selector, (xs:field)+)>
<!ATTLIST xs:key
	name NMTOKEN #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:keyref ((xs:annotation)?, xs:selector, (xs:field)+)>
<!ATTLIST xs:keyref
	name NMTOKEN #REQUIRED
	refer NMTOKEN #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:selector ((xs:annotation)?)>
<!ATTLIST xs:selector
	xpath CDATA #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:field ((xs:annotation)?)>
<!ATTLIST xs:field
	xpath CDATA #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:include (xs:annotation)?>
<!ATTLIST xs:include
	schemaLocation CDATA #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:import (xs:annotation)?>
<!ATTLIST xs:import
	namespace CDATA #IMPLIED
	schemaLocation CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:redefine (xs:annotation | xs:simpleType | xs:complexType | xs:attributeGroup | xs:group)*>
<!ATTLIST xs:redefine
	schemaLocation CDATA #REQUIRED
	id ID #IMPLIED
>
<!ELEMENT xs:notation (xs:annotation)?>
<!ATTLIST xs:notation
	name NMTOKEN #REQUIRED
	id ID #IMPLIED
	public CDATA #REQUIRED
	system CDATA #IMPLIED
>
<!ELEMENT xs:annotation (xs:appinfo | xs:documentation)*>
<!ELEMENT xs:appinfo ANY>
<!ATTLIST xs:appinfo
	source CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xs:documentation ANY>
<!ATTLIST xs:documentation
	source CDATA #IMPLIED
	id ID #IMPLIED
	xml:lang CDATA #IMPLIED
>
<!ELEMENT table ((label | caption)?, summary?, col*, thead?, tbody, tfoot?)>
<!ATTLIST table
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT caption (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST caption
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT summary (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST summary
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT col EMPTY>
<!ATTLIST col
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	span CDATA "1"
	width CDATA #IMPLIED
	align (left | right | char | justify | center) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (baseline | top | middle | bottom) #IMPLIED
>
<!ELEMENT thead (tr)+>
<!ATTLIST thead
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	align (left | right | char | justify | center) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (baseline | top | middle | bottom) #IMPLIED
>
<!ELEMENT tfoot (tr)+>
<!ATTLIST tfoot
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	align (left | right | char | justify | center) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (baseline | top | middle | bottom) #IMPLIED
>
<!ELEMENT tbody (tr)+>
<!ATTLIST tbody
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	align (left | right | char | justify | center) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (baseline | top | middle | bottom) #IMPLIED
>
<!ELEMENT tr (td | th)+>
<!ATTLIST tr
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	align (left | right | char | justify | center) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (baseline | top | middle | bottom) #IMPLIED
>
<!ELEMENT th (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST th
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	rowspan CDATA "1"
	abbr CDATA #IMPLIED
	colspan CDATA "1"
	headers IDREFS #IMPLIED
	scope (row | col | rowgroup | colgroup) #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
>
<!ELEMENT td (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST td
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	rowspan CDATA "1"
	abbr CDATA #IMPLIED
	colspan CDATA "1"
	headers IDREFS #IMPLIED
	scope (row | col | rowgroup | colgroup) #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
>
<!ELEMENT li (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST li
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
	decorator CDATA #IMPLIED
>
<!ELEMENT ol (label?, (li)*)>
<!ATTLIST ol
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT ul (label?, (li)*)>
<!ATTLIST ul
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT dl (label?, (di)*)>
<!ATTLIST dl
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT di (dt, dd)>
<!ATTLIST di
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT dt (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST dt
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT dd (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST dd
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT nl (label?, (li)*)>
<!ATTLIST nl
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT label (#PCDATA)>
<!ATTLIST label
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT object (param)*>
<!ATTLIST object
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	declare CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT param EMPTY>
<!ATTLIST param
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	name CDATA #IMPLIED
	value CDATA #IMPLIED
>
<!ELEMENT ev:listener EMPTY>
<!ATTLIST ev:listener
	id ID #IMPLIED
	event NMTOKEN #REQUIRED
	observer IDREF #IMPLIED
	target IDREF #IMPLIED
	handler CDATA #IMPLIED
	phase (capture | default) #IMPLIED
	propagate (stop | continue) #IMPLIED
	defaultAction (cancel | perform) #IMPLIED
>
<!ELEMENT xh:access EMPTY>
<!ATTLIST xh:access
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	activate (yes | no) #IMPLIED
	key CDATA #IMPLIED
	targetid CDATA #IMPLIED
	targetrole CDATA #IMPLIED
>
<!ELEMENT handler (#PCDATA)>
<!ATTLIST handler
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT sel:if ANY>
<!ATTLIST sel:if
	sel:expr CDATA #IMPLIED
	sel:selidname IDREF #IMPLIED
	sel:functions CDATA #IMPLIED
	xmlns:xsd CDATA "http://www.w3.org/2001/XMLSchema"
	xmlns:ev CDATA "http://www.w3.org/2001/xml-events"
	xmlns:xforms CDATA "http://www.w3.org/2002/xforms"
	xmlns:xml CDATA "http://www.w3.org/XML/1998/namespace"
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
>
<!ELEMENT sel:select ((sel:when)*, (sel:otherwise)?)>
<!ATTLIST sel:select
	sel:expr CDATA #IMPLIED
	sel:precept CDATA #IMPLIED
	sel:selidname IDREF #IMPLIED
	sel:functions CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
>
<!ELEMENT sel:when ANY>
<!ATTLIST sel:when
	sel:expr CDATA #IMPLIED
	sel:precept CDATA #IMPLIED
	sel:selidname IDREF #IMPLIED
	sel:functions CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
>
<!ELEMENT sel:otherwise ANY>
<!ATTLIST sel:otherwise
	sel:selidname IDREF #IMPLIED
	sel:functions CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT sel:variable EMPTY>
<!ATTLIST sel:variable
	sel:name (matchfirst | matchevery) #IMPLIED
	sel:ref CDATA #IMPLIED
	sel:value CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT sel:value EMPTY>
<!ATTLIST sel:value
	sel:expr CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
>
<!ELEMENT xf:model (xf:instance | xs:schema | xf:submission | xf:bind | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*>
<!ATTLIST xf:model
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:functions CDATA #IMPLIED
	xf:schema CDATA #IMPLIED
	xf:version CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:instance (#PCDATA)>
<!ATTLIST xf:instance
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:src CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:submission ((xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*>
<!ATTLIST xf:submission
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:action CDATA #IMPLIED
	xf:method (post | qname-but-not-ncname | form-data-post | urlencoded-post | get | put) #IMPLIED
	xf:version CDATA #IMPLIED
	xf:indent (true | false) #IMPLIED
	xf:mediatype CDATA #IMPLIED
	xf:encoding CDATA #IMPLIED
	xf:omit-xml-declaration (true | false) #IMPLIED
	xf:standalone (true | false) #IMPLIED
	xf:cdata-section-elements CDATA #IMPLIED
	xf:replace (all | QNameButNotNCNAME | none | instance) #IMPLIED
	xf:instance IDREF #IMPLIED
	xf:includenamespaceprefixes CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:bind (xf:bind)*>
<!ATTLIST xf:bind
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:type CDATA #IMPLIED
	xf:readonly (true | false) #IMPLIED
	xf:required (true | false) #IMPLIED
	xf:relevant (true | false) #IMPLIED
	xf:calculate CDATA #IMPLIED
	xf:constraint (true | false) #IMPLIED
	xf:p3ptype CDATA #IMPLIED
	xf:nodeset CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:input (xf:label, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:input
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:inputmode CDATA #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:secret (xf:label, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:secret
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:inputmode CDATA #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:textarea (xf:label, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:textarea
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:inputmode CDATA #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:output (xf:label)?>
<!ATTLIST xf:output
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:value CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:upload (xf:label, xf:filename?, xf:mediatype?, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:upload
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:mediatype CDATA #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:range (xf:label, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:range
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:start CDATA #IMPLIED
	xf:end CDATA #IMPLIED
	xf:step CDATA #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:trigger (xf:label, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:trigger
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:submit (xf:label, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:submit
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:submission IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:select (xf:label, ((xf:choices | xf:item | xf:itemset)+)+, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:select
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:selection (open | closed) #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:select1 (xf:label, ((xf:choices | xf:item | xf:itemset)+)+, ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:select1
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:selection (open | closed) #IMPLIED
	xf:incremental (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:choices (xf:label, ((xf:choices | xf:item | xf:itemset)+)+)>
<!ATTLIST xf:choices
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:item (xf:label, xf:value, ((xf:choices | xf:item | xf:itemset)+)+)>
<!ATTLIST xf:item
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:filename (EMPTY)>
<!ATTLIST xf:filename
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:mediatype (EMPTY)>
<!ELEMENT xf:value (#PCDATA)>
<!ATTLIST xf:value
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:label (#PCDATA | xf:output)*>
<!ATTLIST xf:label
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:src CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:help (#PCDATA | xf:output)*>
<!ATTLIST xf:help
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:src CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:hint (#PCDATA | xf:output)*>
<!ATTLIST xf:hint
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:src CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:alert (#PCDATA | xf:output)*>
<!ATTLIST xf:alert
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:src CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:group (xf:label?, ((xf:input | xf:secret | xf:textarea | xf:output | xf:upload | xf:range | xf:trigger | xf:submit | xf:select | xf:select1)* | xf:group | xf:switch | xf:repeat | (xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:group
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:switch (xf:case+)>
<!ATTLIST xf:switch
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:case (xf:label?, ((xf:input | xf:secret | xf:textarea | xf:output | xf:upload | xf:range | xf:trigger | xf:submit | xf:select | xf:select1)* | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)* | xf:group | xf:switch | xf:repeat)*)>
<!ATTLIST xf:case
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:selected (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:toggle EMPTY>
<!ATTLIST xf:toggle
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:case IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:repeat ((xf:input | xf:secret | xf:textarea | xf:output | xf:upload | xf:range | xf:trigger | xf:submit | xf:select | xf:select1)* | xf:group | xf:switch | xf:repeat)*>
<!ATTLIST xf:repeat
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:appearance (minimal | QNameButNotNCNAME | full | compact) #IMPLIED
	xf:nodeset CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:startindex CDATA #IMPLIED
	xf:number NMTOKEN #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:itemset (xf:label?, (xf:value | xf:copy), ((xf:help | xf:hint | xf:alert | (xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)*)*)>
<!ATTLIST xf:itemset
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:nodeset CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:copy EMPTY>
<!ATTLIST xf:copy
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	xf:nodeset CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:insert EMPTY>
<!ATTLIST xf:insert
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:nodeset CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:at CDATA #IMPLIED
	xf:position (after | before) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:delete EMPTY>
<!ATTLIST xf:delete
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:nodeset CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:at CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:setindex EMPTY>
<!ATTLIST xf:setindex
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:repeat IDREF #IMPLIED
	xf:index CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:action ((xf:action | xf:dispatch | xf:rebuild | xf:refresh | xf:recalculate | xf:revalidate | xf:setfocus | xf:load | xf:setvalue | xf:send | xf:reset | xf:message | xf:toggle | xf:insert | xf:delete | xf:setindex)*)+>
<!ATTLIST xf:action
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:dispatch EMPTY>
<!ATTLIST xf:dispatch
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:name NMTOKEN #IMPLIED
	xf:target IDREF #IMPLIED
	xf:bubbles (true | false) #IMPLIED
	xf:cancelable (true | false) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:rebuild EMPTY>
<!ATTLIST xf:rebuild
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:model CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:recalculate EMPTY>
<!ATTLIST xf:recalculate
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:model CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:revalidate EMPTY>
<!ATTLIST xf:revalidate
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:model CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:refresh EMPTY>
<!ATTLIST xf:refresh
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:model CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:setfocus EMPTY>
<!ATTLIST xf:setfocus
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:model CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:load EMPTY>
<!ATTLIST xf:load
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:resource CDATA #IMPLIED
	xf:show (new | replace) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:setvalue (#PCDATA)>
<!ATTLIST xf:setvalue
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:value CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:send EMPTY>
<!ATTLIST xf:send
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:submission IDREF #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:reset EMPTY>
<!ATTLIST xf:reset
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:model CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT xf:message (PCDATA | xf:output)*>
<!ATTLIST xf:message
	xf:id ID #IMPLIED
	xf:anyAtribute CDATA #IMPLIED
	ev:event NMTOKEN #IMPLIED
	ev:observer IDREF #IMPLIED
	ev:target IDREF #IMPLIED
	ev:handler CDATA #IMPLIED
	ev:phase (capture | default) #IMPLIED
	ev:propagate (stop | continue) #IMPLIED
	ev:defaultAction (cancel | perform) #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:model CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:src CDATA #IMPLIED
	xf:level (modeless | modal | ephemeral) #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT div ((h)?, (object | span | p | table | ul | ol | dl | nl | (xf:input | xf:secret | xf:textarea | xf:output | xf:upload | xf:range | xf:trigger | xf:submit | xf:select | xf:select1)*)*)>
<!ATTLIST div
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
	decorator CDATA #IMPLIED
>
<!ELEMENT section (h?, (section | div | p | separator)*)>
<!ATTLIST section
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT h (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST h
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT p (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var | table | ul | ol | xf:output | dl)*>
<!ATTLIST p
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
	decorator CDATA #IMPLIED
>
<!ELEMENT separator EMPTY>
<!ATTLIST separator
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	sel:selid CDATA #IMPLIED
	sel:selidname IDREF #IMPLIED
	sel:functions CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
>
<!ELEMENT abbr (#PCDATA)>
<!ATTLIST abbr
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	full CDATA #IMPLIED
>
<!ELEMENT cite (#PCDATA)>
<!ATTLIST cite
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	cite CDATA #IMPLIED
>
<!ELEMENT code (#PCDATA)>
<!ATTLIST code
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT dfn (#PCDATA)>
<!ATTLIST dfn
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT em (#PCDATA)>
<!ATTLIST em
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT kbd (#PCDATA)>
<!ATTLIST kbd
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT l (#PCDATA)>
<!ATTLIST l
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT q (#PCDATA)>
<!ATTLIST q
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	cite CDATA #IMPLIED
>
<!ELEMENT samp (#PCDATA)>
<!ATTLIST samp
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT span (#PCDATA)>
<!ATTLIST span
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	decorator CDATA #IMPLIED
>
<!ELEMENT strong (#PCDATA)>
<!ATTLIST strong
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT sub (#PCDATA)>
<!ATTLIST sub
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT sup (#PCDATA)>
<!ATTLIST sup
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT var (#PCDATA)>
<!ATTLIST var
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title
	xmlns:dial CDATA #FIXED "http://www.w3.org/TR/dial/"
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	decorator CDATA #IMPLIED
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT head (title, (xh:access | handler | link | ev:listener | xf:model | meta)*)>
<!ELEMENT body (header?, (h)?, (section | separator)*, footer?)>
<!ATTLIST body
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT html (head, body)>
<!ATTLIST html
	xmlns:dial CDATA #FIXED "http://www.w3.org/TR/dial/"
	id ID #IMPLIED
>
<!ELEMENT menu (label?, (li)*)>
<!ATTLIST menu
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
>
<!ELEMENT chainedmenu ((label)?, (nl | menu)+)>
<!ATTLIST chainedmenu
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
>
<!ELEMENT datefield EMPTY>
<!ATTLIST datefield
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:model CDATA #IMPLIED
>
<!ELEMENT include EMPTY>
<!ATTLIST include
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	content CDATA #REQUIRED
>
<!ELEMENT phonebookadder (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST phonebookadder
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	number CDATA #REQUIRED
	contact CDATA #REQUIRED
	decorator CDATA #IMPLIED
>
<!ELEMENT smssend (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST smssend
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	number CDATA #REQUIRED
	decorator CDATA #IMPLIED
>
<!ELEMENT telephonecaller (#PCDATA | abbr | cite | code | dfn | em | kbd | l | q | samp | span | strong | sub | sup | var)*>
<!ATTLIST telephonecaller
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	number CDATA #REQUIRED
	cti CDATA #IMPLIED
	decorator CDATA #IMPLIED
>
<!ELEMENT timefield EMPTY>
<!ATTLIST timefield
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	xf:ref CDATA #IMPLIED
	xf:bind IDREF #IMPLIED
	xf:model CDATA #IMPLIED
>
<!ELEMENT rsspanel EMPTY>
<!ATTLIST rsspanel
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	cachecontent CDATA #IMPLIED
	src CDATA #REQUIRED
>
<!ELEMENT header (h?, (section | div | p | separator)*)>
<!ATTLIST header
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!ELEMENT footer (h?, (section | div | p | separator)*)>
<!ATTLIST footer
	xml:space (default | preserve) #IMPLIED
	xml:id CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
	xml:base CDATA #IMPLIED
	class NMTOKENS #IMPLIED
	title CDATA #IMPLIED
	xh:role CDATA #IMPLIED
	sel:expr CDATA #IMPLIED
	src CDATA #IMPLIED
	srctype CDATA #IMPLIED
	encoding CDATA #IMPLIED
	href CDATA #IMPLIED
	hreftype CDATA #IMPLIED
	nextfocus CDATA #IMPLIED
	prevfocus CDATA #IMPLIED
>
<!NOTATION XMLSchemaStructures PUBLIC "structures" "http://www.w3.org/2001/XMLSchema.xsd">
<!NOTATION XML PUBLIC "REC-xml-1998-0210" "http://www.w3.org/TR/1998/REC-xml-19980210">
